body {
	background-image: url(fondo.png);
    width:90%;margin: 0 auto;min-width:600px;max-width:2000px;
}
h1 {
	color: gold;
}
h2 {
	color: silver;
}
h3 {
	color: silver;
	font-size: 33px;
}
p {
	color: white;
	font-size: 22px;
}
#mono {
	font-size: 50px;
}